/* Conteneur principal */
.ministere-container {
  width: 80%;
  text-align: center;
  padding: 50px;
  margin-top: 3.5%;
}

.ministere-title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 95px;
  font-family: 'Arial', sans-serif;
  color: rgb(255, 255, 255);
}

/* Carousel principal */
.carousel {
  perspective: 25000000px;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 450px;
  transform-style: preserve-3d;
  animation: rotateCarousel 50s infinite linear; /* Rotation lente continue sur 50s */
  transition: transform 0s ease; /* Retirer la durée de la transition pour ajuster instantanément pendant le drag */
  margin-top: -2.9%;
}

.carousel-item {
  position: absolute;
  width: 350px;
  height: 400px;
  overflow: hidden;
  background: white;
  transition: transform 0s ease-in-out, opacity 0.5s ease-in-out; /* Pas de transition sur la rotation */
}

/* Rotation en 3D pour 6 éléments */
.carousel-item:nth-child(1) {
  transform: rotateY(0deg) translateZ(400px);
}
.carousel-item:nth-child(2) {
  transform: rotateY(60deg) translateZ(400px);
}
.carousel-item:nth-child(3) {
  transform: rotateY(120deg) translateZ(400px);
}
.carousel-item:nth-child(4) {
  transform: rotateY(180deg) translateZ(400px);
}
.carousel-item:nth-child(5) {
  transform: rotateY(240deg) translateZ(400px);
}
.carousel-item:nth-child(6) {
  transform: rotateY(300deg) translateZ(400px);
}

/* Images */
.carousel-item-image {
  width: 300%;
  height: 50%;
  object-fit: cover;
}

/* Contenu du cadre */
.carousel-item-content {
  text-align: center;
  padding: 10px;
  background: rgba(246, 246, 248, 0.932);
  height: 400px;
  color: #fff;
}

.carousel-item-title {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  font-family: Arial, Helvetica, sans-serif;
}

.carousel-item-description {
  font-size: 1.6rem;
  line-height: 1.5;
  font-family: 'Times New Roman', Times, serif;
  color: #ffffff;
}

/* Animation de rotation lente */
@keyframes rotateCarousel {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
