/* Actualité.css */

body {
    font-family: 'Roboto', sans-serif; /* Remplacez 'Roboto' par la police de votre choix */
  }
  
  .actualites-containeres {
    padding: 10px;
    margin: 20px;
  }
  .actualites-containeres h2 {
    color: #6a11cb;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .filters-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;

  }
  
  .filters-bar input {
    margin-right: 10px;
    font-size: 12px;
    padding: 8px;
    border: 2px solid #87d3ff;
    border-radius: 8px;
  }
  
  .but {
    padding: 10px 12px;
   
    background-color: #ba0606;
    color: #fff;
   
    border: none;
    border-radius: 4px;
   
  }
  
  .filters-bar button:hover {
    background-color: #3700b3;
  }
  
  .forms-sectiones {
    margin-bottom: 40px;
  }
  
  .forms-sectiones h2 {
    color: #6a11cb;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .forms-sectiones form {
    display: flex;
    flex-direction: column;
  }
  
  .forms-sectiones input {
    margin-bottom: 15px;
    font-size: 13px;
    padding: 10px 20px;
    border: 1px solid #82828455;
    border-radius: 10px;   
  }
  .forms-sectiones textarea {
    margin-bottom: 15px;
    padding: 10px 10px;

    font-size: 13px;
    text-align: left;
    justify-content: center;
    align-items: start;

    border: 1px solid #b9c4cf55;
    border-radius: 10px;
  }
  .texte-image{

    color: #6a11cb;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .texte-video{

    color: #6a11cb;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .texte-image input {
    margin-bottom: 15px;
    font-size: 13px;
    padding: 10px 20px;
    border: 1px solid #0d113c55;
    border-radius: 10px;   
  }
  .butto {
    padding: 10px 15px;
    background-color: #00ea33;
    color: #fff;
    border: none;
    border-radius: 4px;  
  }
  
  .forms-sectiones button {
    width: 100%;
  max-width: 180px;
  padding: 12px 20px;
  margin-top: 0px;
  background-color:   #025ce2b8;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  }
  
  .forms-sectiones button:hover {
    background-color: #3700b3;
  }
  
  .news-sectiones {
    margin-top: 30px;
  }
  
  .news-sectiones h1 {
    font-size: 20px;
    margin-bottom: 20px;
    color: #6200ea;
  }
  
  .news-grides {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
  }
  
  .news-cardes {
    border: 1px solid #dadada;
    padding: 15px;
    border-radius: 8px;
    background-color: #f6fafe;
    transition: background-color 0.3s;
  }
  
  .news-cardes:hover {
    background-color: #e0e0e0;
  }
  
  .news-cardes h3 {
    font-size: 12px;
    margin-bottom: 10px;
    color: #191786;
  }
  
  .news-cardes p {
    font-size: 12px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .news-cardes img,
  .news-cardes video {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 0px;
  }
  
  .news-cardes .description {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limite les lignes à 3 pour le texte */
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: -webkit-line-clamp 0.3s ease;
  }
  
  .news-cardes .description.expanded {
    -webkit-line-clamp: none;
  }
  
  .news-cardes button {
    padding: 5px 10px;
    background-color: #ea0046;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .news-cardes button:hover {
    background-color: #3700b3;
  }
  
  @media (max-width: 768px) {
    .filters-bar {
      flex-direction: column;
    }
  
    .news-grides {
      grid-template-columns: 1fr;
    }
  }
  