/* Actualité.css */

body {
    font-family: 'Roboto', sans-serif; /* Remplacez 'Roboto' par la police de votre choix */
  }
  
  .actualites-containeres {
    padding: 20px;

    margin: 10px;
  }
  .actualites-containeres h2 {
    
    color: #0520d1;
  font-size: 1.3rem;
  margin-bottom: 0px;

  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .filters-bar {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;

  }
  
  .filters-bar input {
    margin-right: 10px;
    font-size: 0.7rem;
    font-weight: bold;
    padding: 12px;
    border: 1px solid #cccdcd;
    border-radius: 8px;
  }
  
  .but {
    padding: 10px 12px;
   
    background-color: #ba0606;
    color: #c51313;
   
    border: none;
    border-radius: 4px;
   
  }
  
  .filters-bar button:hover {
    background-color: #3700b3;
  }
  
  .forms-sectiones {
    margin-bottom: 40px;
  }
  
  .forms-sectiones h2 {
    margin-top: 2%;
    color: #340ca4;
  font-size: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .forms-sectiones form {
    margin-top: 2%;
    display: flex;
    flex-direction: column;
  }
  
  .forms-sectiones input {
    margin-bottom: 2px;


  font-size: 0.78rem;
  border: 1px solid #e2e2e2;
  color: #152536;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding: 15px 20px;
    border: 1px solid #dddedeb6;
    border-radius: 5px;   
  }
  .forms-sectiones textarea {
    margin-bottom: 2px;
    padding: 20px 10px ;
    color: #043161;
   
    font-size: 0.78rem;
    border: 1px solid #e4e4e4;
    font-weight: bold;

    margin-left: -0%;
     text-align: left;
    justify-content: center;
    align-items: start;

  
    border-radius: 5px;
  }
  .texte-image {
    
    color: #340ca4;
    font-size: 1.1rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  .texte-video{
  
    color: #340ca4;
    font-size: 1.1rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

 
  
  .butto {
    padding: 10px 15px;
    background-color: #00ea33;
    color: #fff;
    border: none;
    border-radius: 4px;  
  }
  
  .forms-sectiones button {
    width: 100%;
  max-width: 150px;
  padding: 12px 20px;
  margin-top: 0px;
  background-color:   #1890d5f4;
  margin-left: -0.1%;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
  }
  
  .forms-sectiones button:hover {
    background-color: #3700b3;
  }
  
  .news-sectiones {
    margin-top: 30px;
  }
  
  .news-sectiones h1 {
    font-size: 20px;
    margin-left: -2%;
    margin-bottom: 0px;
    color: #d31616;
  }
  
  .news-grides {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 40px;
  }
  
  .news-cardes {
    border: 1px solid #e9fcff;
    padding: 15px;
    border-radius: 4px;
    background: linear-gradient(rgb(250, 254, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255),rgb(255, 255, 255), rgb(169, 223, 252));
    transition: background-color 0.7s;
  }
  
  .news-cardes:hover {
    background-color: #0c0539;
  }
  
  .news-cardes h3 {
    font-size: 0.8rem;
    
    margin-bottom: 10px;
    color: #1111a8;
  }
  
  .news-cardes p {
    font-size: 12px;
    margin-bottom: 15px;
    color: #000000;
  }
  
  .news-cardes img,
  .news-cardes video {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 0px;
  }
  
  .news-cardes .description {
    font-size: 10px;
    font-weight: bold;
    line-height: 1.5;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* Limite les lignes à 3 pour le texte */
    -webkit-box-orient: vertical;
    overflow: hidden;
    transition: -webkit-line-clamp 0.3s ease;
  }
  
  .news-cardes .description.expanded {
    -webkit-line-clamp: none;
  }
  
  .news-cardes button {
    padding: 5px 10px;
  
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  .news-cardes button:first-of-type {
    background: linear-gradient(45deg, #1e90ff, #00bfff);
  }
  
  .news-cardes button:first-of-type:hover {
    background: linear-gradient(45deg, #00bfff, #1e90ff);
  }
  
  .news-cardes button:last-of-type {
    background: linear-gradient(45deg, #121d85, #141764);
  }
  
  .news-cardes button:last-of-type:hover {
    background: linear-gradient(45deg, #ff6347, #ff4500);
  }
  
  
  .news-cardes button:hover {
    background-color: #3700b3;
  }
  
  @media (max-width: 768px) {
    .filters-bar {
      flex-direction: column;
    }
  
    .news-grides {
      grid-template-columns: 1fr;
    }
  }
  