/* AdminNavbar.css */
.admin-navbar {
    background-color: #021c32; /* Couleur de fond de la navbar */
    padding: 10px;
    margin-top: -2.5%;
    margin-left: -2.5%;
    border-bottom: 25px;

    
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-left {
    font-size: 12px;
    color: #e2efef; /* Bordure cyan */
    padding-left: 20px;
  }
  
  .navbar-title {
    font-weight: bold;
    font-size: 13px;
  }
  
  .navbar-right {
    display: flex;
    font-size: 14px;
    color: #f3fafa;
    align-items: center;
    gap: 10px; /* Espacement entre l'image et le texte */
  }
  
  .user-info {
    display: flex;
    align-items: center;

    padding: 5px;
    border-radius: 50%; /* Rendre l'avatar circulaire */
  }
  
  .avatar-container {
    margin-right: 10px;
  }
  
  .avatar-frame {
    border-radius: 50%; /* Pour rendre l'image en avatar circulaire */
    width: 40px; /* Ajustez la taille selon votre besoin */
    height: 40px;
  }
  
  .user-name {
    color: #e8efef; /* Bordure cyan */
    font-weight: bold;
    font-size: 12px;
  }
  