/* AdminNavbar.css */
.admin-navbar {
    background-color: #ffffff; /* Couleur de fond de la navbar */
    padding: 5px;
    margin-top: -2.5%;
    margin-left: -3.5%;
    box-shadow: 0 4px 20px rgba(87, 210, 255, 0.504); /* Ajoute une ombre subtile */
  
    width: 105%;

    
  }
  
  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-left {
    font-size: 28px;
    color: #0c0521; /* Bordure cyan */
    padding-left: 30px;
  }
  
  .navbar-title {
    font-weight: bold;
    font-size: 13px;
  }
  
  .navbar-right {
    display: flex;
    font-weight: bold;
    font-size: 13px;
    color: #021a1a;
    align-items: center;
    gap: 20px; /* Espacement entre l'image et le texte */
  }
  
  .user-info {
    display: flex;
    align-items: center;

    padding: 0px;
    border-radius: 50%; /* Rendre l'avatar circulaire */
  }
  
  .avatar-container {
    margin-right: 20px;
  }
  
  .avatar-frame {
    border-radius: 50%; /* Pour rendre l'image en avatar circulaire */
    width: 45px; /* Ajustez la taille selon votre besoin */
    height: 45px;
  }
  
  .user-name {
    color: #101111; /* Bordure cyan */
    font-weight: bold;
    font-size: 13px;
  }
  