/* Styles de la section Contact */
.contact-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 120px;
    background-color: #f8f9fa; /* Couleur de fond */
    text-align: center;
    flex-wrap: wrap;
}

.contact-item {
    flex: 1;
    max-width: 350px;
    margin: 20px;
    padding: 50px;
    border: 5px solid white; /* Bordure autour de chaque élément */
    border-radius: 10px; /* Arrondi des angles */
    background-color: white; /* Couleur de fond pour chaque section */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Ombre pour un effet élégant */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-item:hover {
    transform: translateY(-5px); /* Légère élévation au survol */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Accentuer l'ombre au survol */
}

.contact-icon {
    font-size: 40px; /* Taille des icônes */
    color: darkblue; /* Couleur des icônes */
    margin-bottom: 10px;
}

.contact-item h3 {
    font-size: 18px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0;
    color: #333;
}

.contact-item p {
    font-size: 17px;
    color: #555;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 5px 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    .contact-section {
        flex-direction: column; /* Les items se placent verticalement */
        text-align: center;
    }

    .contact-item {
        border-right: none; /* Pas de bordure sur mobile */
        margin: 10px;
    }
}

@media (max-width: 480px) {
    .contact-item {
        margin: 10px;
        justify-content: center;
        text-align: center;
    }

    .contact-icon {
        font-size: 40px;
        justify-content: center;
        text-align: center; /* Réduction de la taille des icônes */
    }

    .contact-item h3 {
        font-size: 16px;
    }

    .contact-item p {
        font-size: 12px;
    }
}
