/* Container principal */
.containeres {
  display: flex;
  flex-direction: row; /* Aligne l'image et la description horizontalement */
  align-items: flex-start; /* Aligne les éléments en haut */
  justify-content: center; /* Centre le contenu horizontalement */
  gap: 50px; /* Espace entre l'image et la section texte */
  margin: 40px auto;
  max-width: 1400px; /* Limite la largeur totale */
}

.images-containeres {
  display: flex;
  flex-direction: column; /* Aligne l'image et la carte verticalement */
  align-items: center;
  text-align: center;
  max-width: 50%;
  position: relative; /* Définit un contexte pour la position absolue */
}

.images-containeres img {
  width: 320px; /* Ajustez selon vos besoins */
  height: auto;
  border-radius: 10px;
  box-shadow: 10 4px 8px rgba(22, 104, 139, 0.732); /* Ajoute une ombre subtile */
  margin-bottom: 16px; /* Espace entre l'image et la carte */
}

.cardes {
  background: #ffffff;
  padding: 6px; /* Ajoutez du padding pour un espacement interne */
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  max-width: 85%;
  position: absolute; /* Place la carte à l'intérieur de l'image */
  bottom: -70px; /* Ajuste la position verticale de la carte */


}


.cardes h2 {
  font-size: 1rem;
  color: #000;
  margin-bottom: 8px;
}

.cardes h3 {
  font-size: 1.2rem;
  color: #5a1ae3;
  margin-bottom: 8px;
}

.cardes p {
  font-size: 1rem;
  color: #6b7280;
}

/* Section contenant le texte */
.text-section {
  background: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 10 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 150%; /* Limite la largeur à 60% */
  text-align: left;
}

.text-section h1 {
  font-size: 2rem;
  color: #60036a;
  font-weight: bold;
  margin-bottom: 10px;
}

.underline {
  width:90px;
  height: 5px;
  background: linear-gradient( #ff4800, rgb(255, 98, 0));
  margin: 25px 50;
}

.text-section p {
  font-size: 1rem;
  color: #374151;
  line-height: 1.6;
  margin-bottom: 16px;
}

.text-section ul {
  list-style: none;
  padding: 0;
  margin-top: 16px;
}

.text-section li {
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: #1f2937;
  margin-bottom: 10px;
}

.text-section li i {
  color: #0cec17;
  margin-right: 10px;
  font-size: 1.2rem;
}

/* Responsive Design */
@media (max-width: 768px) {
  .containeres {
    flex-direction: column; /* Empile l'image et le texte verticalement */
    align-items: center;
    gap: 20px;
  }

  .images-containeres {
    max-width: 100%; /* Largeur complète */
  }

  .text-section {
    max-width: 100%; /* Largeur complète */
  }
}
