/* Styles du Footer */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .footer-text {
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .icon-container {
    display: flex;
    gap: 15px;
  }
  
  .icon-link {
    color: #fff;
    text-decoration: none;
  }
  
  .icon {
    font-size: 30px;
  }
  
  /* Styles responsive pour le footer */
  @media screen and (max-width: 768px) {
    .footer-content {
      padding: 0 20px;
    }
  
    .icon-container {
      gap: 10px;
    }
  
    .icon {
      font-size: 25px;
    }
  
    .footer-text {
      font-size: 14px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .icon-container {
      flex-direction: column;
    }
  
    .icon {
      font-size: 24px;
    }
  
    .footer-text {
      font-size: 12px;
    }
  }
  