

.overla {
  background: linear-gradient(50deg, rgba(255, 234, 0, 0.775), rgba(65, 11, 242, 0.945), rgba(255, 0, 0, 0.849)), url('../assets/black7.jpg');
  color: white;
  text-align: center;
  padding: 20px 0;
  margin-top: 2%;
  width: 100%;

  position: relative;
  border-radius: 0px;
  
}

h1 {
  font-size: 1rem;
  margin: 0;
  color: white;
  padding: 20px;
}

.chap {
  margin-left: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-left: 30px;
  padding: 20px;
}

.searches-fieldses {
  display: flex;
  gap: 30px;
}

.searches-fieldses input {
  padding: 10px;
  border: 1px solid #4eb5ff;
  border-radius: 5px;
}

.searches-fieldses button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.searches-fieldses button:hover {
  background-color: #0056b3;
}

.actualités-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 40px;
  padding: 10px;
}

.actualité-card {
  position: relative;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: calc(33.333% - 20px);
  text-align: center;
  padding: 0px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  overflow: hidden; /* Pour que l'image et le contenu soient coupés */
}

.actualité-card img {
  width: 100%;
  border-radius: 5px;
  opacity: 0.99;
  object-fit: cover;
}

.date-publication {
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  border-radius: 3px;
  font-size: 0.9rem;
  color: #fff;
}

.actualité-title {
  position: absolute;
  top: -10px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 3px;
  font-size: 1rem;
  color: #fff;
  cursor: pointer; /* Changer la forme du pointeur lorsque survole le titre */
  transition: all 0.3s ease;
}

.actualité-title:hover {
  color: #00d9ff; /* Changer la couleur du texte en bleu */
  text-decoration: underline; /* Souligner le texte */
  transition: all 0.3s ease;
}

.actualité-description {
  font-size: 1rem;
  margin: 10px 0;
}

/* Animation pour les anciens articles */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.actualité-card-animation {
  animation: fadeIn 0.5s ease-in-out;
}

/* Animation des titres cliquables avec Framer Motion */
.actualité-title-motion {
  cursor: pointer;
  position: relative;
  transition: all 0.3s ease;
  z-index: 1;
  color: black; /* Couleur par défaut du texte */
}

.actualité-title-motion:hover {
  color: #eeff00; /* Changer la couleur du texte en bleu */
  z-index: 2;
  transition: all 0.3s ease;
  text-decoration: underline; /* Souligner le texte */
}

.actualité-title-motion:before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: #00ccff;
  transition: width 0.3s ease;
  transform: translateX(-50%);
}

.actualité-title-motion:hover:before {
  width: 100%;
}
