/* Conteneur principal */
.image-contact-container {
    position: relative;
    opacity: 0.99;
    width: 100%; /* Occuper toute la largeur */
    height: 350px; /* Hauteur définie */
    background: linear-gradient(50deg, rgba(3, 18, 107, 0.982), rgba(255, 238, 1, 0.636)), url('../assets/black11.jpg') no-repeat center center; 
    background-size: cover; /* Adapter l'image pour couvrir tout l'écran */
    background-position: center; /* Centrer l'image */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Superposition semi-transparente */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .overlay h1 {
    color: white; /* Couleur du texte */
    font-size: 45px; /* Taille du texte */
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre portée pour le texte */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .image-contact-container {
      height: 100px; /* Ajuster la hauteur sur les écrans plus petits */
    }
  
    .overlay h1 {
      font-size: 20px; /* Réduire la taille du texte */
    }
  }
  
  @media (max-width: 480px) {
    .image-contact-container {
      height: 100px; /* Réduction supplémentaire pour mobiles */
    }
  
    .overlay h1 {
      font-size: 16px; /* Texte encore plus petit pour mobile */
    }
  }
  