/* Conteneur principal */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
   
  position: relative;
  padding: 10px;
}

/* Ajouter les vagues en haut et en bas */
.wave-header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 700px; /* Ajuste la hauteur selon tes besoins */
  background-image: url('../assets/241.jpg'); /* Remplace le chemin par l'image de vague en haut */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

.wave-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 450px; /* Ajuste la hauteur selon tes besoins */
  background-image: url('../assets/wave\(5\).svg'); /* Remplace le chemin par l'image de vague en bas */
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}

/* Contenu principal */
.login-content {
  display: flex;
  flex-direction: row;
  width: 58%;
  max-width: 1000px;
  background: #ffffff;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  overflow: hidden;
}

/* Formulaire */
.login-form {
  flex: 1;
  padding: 12px 1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-form-logo {
  width: 120px; /* Taille du logo */
  margin-bottom: 5px;
}

.login-form h1 {
  font-size: 2rem;
  color: #0d048d;
  margin-bottom: 30px;
}

.input-group {
  width: 100%;
  margin-bottom: 12px;
}

.input-group label {
  display: block;
  font-size: 1rem;
  color: #060a56;
}

.input-with-icon {
  position: relative;
  width: 100%;
}

.input-with-icon input {
  width: 100%;
  padding: 12px 45px;
  font-size: 0.87rem;
  border: 1px solid #090230;
  border-radius: 10px;
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  color: #ee0000;
}

.password-toggle {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

.login-button {
  width: 100%;
  max-width: 300px;
  padding: 12px 20px;
  background-color: #5000ac;
  color: white;
  border: none;
  border-radius: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
}

.login-button:hover {
  background-color: #e20202;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  margin-top: 10px;
}

.register-link {
  margin-top: 30px;
  font-size: 0.9rem;
  text-align: center;
}

.register-link a {
  color: #6200ea;
  text-decoration: none;
  font-weight: bold;
}

/* Image */
/* Image avec texte */
.login-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border-radius: 1px;
}

.login-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.8);
}

.text-overlay {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(182deg, rgba(113, 0, 89, 0.858), rgba(255, 217, 0, 0.744));
  color: white;
  font-weight: bold;
  text-align: center;
  font-size: 1.5rem;
  z-index: 2;
}


/* Responsivité */
@media (max-width: 1024px) {
  .login-content {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .login-content {
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
  }

  .login-image {
    height: 200px;
  }

  .login-image img {
    height: 100%;
    object-fit: cover;
  }
}

@media (max-width: 480px) {
  .login-form h1 {
    font-size: 1.5rem;
  }

  .input-with-icon input {
    padding: 12px 40px;
    font-size: 0.9rem;
  }

  .login-button {
    padding: 12px 30px;
    font-size: 1rem;
  }
}
