.navigation-bar {
  background: linear-gradient(rgba(81, 151, 186, 0.093),white,white,white,white,white,white,white,white,white,white, rgba(6, 170, 220, 0.016));
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.navbar-container {
  width: 90%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  width: 85px;
  margin-right: 10px;
}

.nav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  margin: 0 5px;
  padding: 5px 8px;
  transition: background-color 0.3s ease;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 15px;
  border-radius: 5px;
  white-space: nowrap;
}

.nav-link:hover,
.active-link {
 text-decoration: underline ;
 color: #0056b3;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.contact-quick {
  display: flex;
  align-items: center;
}

.phone-icon {
  color: rgb(57, 5, 179);
  background: rgb(19, 196, 241);
  border: 1px solid #0056b3;
  border-radius: 10%;
  padding: 10px;
  font-size: 12px;
  margin-right: 5px;
}

.contact-text {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.contact-text .quick-contact {
  font-size: 12px;
  font-weight: bold;
  color: #000000;
}

.contact-text .phone-number {
  font-size: 10px;
  color: #000000;
  font-weight: bold;
}

.search-icon {
  color: #0481bb;
  font-size: 18px;
  position: relative;
}

.search-icon::after {
  content: "Get a quote";
  position: absolute;
  background-color: #0056b3;
  color: #fff;
  border-radius: 5px;
  padding: 2px 5px;
  font-size: 8px;
  bottom: -25px;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 0 10px;
  }

  .nav-link {
    margin: 5px 0;
    font-size: 12px;
    padding: 5px 5px;
  }

  .search-icon::after {
    bottom: -30px;
  }
}
