/* Styles généraux */
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}
.title-secondary{
  color: #4caf50;
}

/* Styles des onglets */
.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #f7f6f6;
  border-radius: 5px;
  margin: 0 5px;
 
  transition: background-color 0.3s, color 0.3s;
}



/* Styles du contenu */
.tab-content {
  display: none;
  margin-top: 20px;
}

.tab-content.active {
  display: block;
}

/* Table style */
table {
  width: 100%;
  border-collapse: collapse;
}

table th{
  padding: 7px 14px;
  gap: 20px;
  text-align: left;
 
}
table td {
  padding: 0px 10px;
  text-align: left;
 
}



