/* Styles généraux */
.container {
  padding: 20px;
  font-family: Arial, sans-serif;
}
.title-secondary{
  color: #4caf50;
}

/* Styles des onglets */
.tab-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.tab {
  cursor: pointer;
  padding: 10px 20px;
  border: 1px solid #f7f6f6;
  border-radius: 5px;
  margin: 0 5px;
  background-color: #c60f0f;
  transition: background-color 0.3s, color 0.3s;
}

.tab.active {
  background-color: #4caf50;
  color: white;
}

/* Styles du contenu */
.tab-content {
  display: none;
  margin-top: 20px;
}

.tab-content.active {
  display: block;
}

/* Table style */
table {
  width: 100%;
  border-collapse: collapse;
}

table th{
  padding: 10px 10px;
  text-align: left;
  border: 1px  solid #ffffff;
}
table td {
  padding: 0px 10px;
  text-align: left;
  border: 2px  solid #ffffff;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #4caf50;
  color: white;
}
