/* Conteneur principal */
.services-container {
    
    background: linear-gradient(100deg, rgba(2, 26, 164, 0.759), rgba(1, 208, 255, 0.786)), url('../assets/black9.jpg') ; 
    color: #fff;
    text-align: center;
    padding:  0px ;
    font-family: Arial, sans-serif;
  }
  
  /* En-tête des services */
  .services-header h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #00a6b9;
  }
  
  .services-header p {
    font-size: 1rem;
    margin: 0;
  }
  
  .breadcrumb {
    color: #00a6b9;
    font-weight: bold;
  }
  
  .current-page {
    color: #fff;
    font-weight: normal;
  }
  
  /* Design supplémentaire */
  .services-header {
    position: relative;
    display: inline-block;
    background: #0d2538;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .services-content {
    margin-top: 2rem;
  }
  