/* Conteneur principal */
.services-container {
    
  position: relative;
  opacity: 0.99;
  width: 100%; /* Occuper toute la largeur */
  height: 250px; /* Hauteur définie */
  background: linear-gradient(100deg, rgba(5, 40, 236, 0.76), rgba(1, 238, 255, 0.903)), url('../assets/black2.jpg') no-repeat center center; 
  background-size: cover; /* Adapter l'image pour couvrir tout l'écran */
  background-position: center; /* Centrer l'image */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  }
  
  /* En-tête des services */
  .services-header h1 {
    color: white; /* Couleur du texte */
    font-size: 2rem; /* Taille du texte */
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre portée pour le texte */
    display: inline-block;
    
    padding: 1rem 2rem;
    border-radius: 5px;
  }
  
  .services-header p {
    font-size: 1rem;

  }
  
  .breadcrumb {
    color: #00a6b9;
    font-weight: bold;
  }
  
  .current-page {
    color: #fff;
    font-weight: normal;
  }
  
  /* Design supplémentaire */
  .services-header {
    position: relative;
    justify-content: center;
    display: inline-block;
   
    background: #2090eb;
    padding: 1rem 2rem;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .services-content {
    margin-top: 2rem;
  }
  