

.sidebar.open {
  left: 0;
}



@media screen and (max-width: 768px) {
  .menu-toggle {
    display: block; /* Affiché sur les petits écrans */
  }

  .sidebar {
    left: -100%;
  }

  .sidebar.open {
    left: 0;
  }
  .sidebar {
    position: fixed;
    left: -250px;
    top: 0;
    width: 200px;
    height: 100vh;
    background: #ffffff;
    transition: left 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    padding: 20px;
    z-index: 10000; /* Ajouté pour s'assurer que le menu passe au-dessus des autres éléments */
  }
}
