.table-containere {
  text-align: center;
  width: 85%;
  background-color: #ffffff;
  margin: 5% auto; /* Centrer horizontalement et ajuster la marge */
  padding: 20px; /* Ajouter un peu de padding pour les petits écrans */
  border-radius: 5px 0px 0px 0px;
  background: linear-gradient(80deg, rgba(3, 18, 29, 0.823), rgba(4, 9, 21, 0.952), rgba(4, 18, 28, 0.97), rgba(3, 8, 25, 0.823)), url('../assets/2.gif');
  box-shadow: 0px 4px 15px rgba(11, 6, 26, 0.451);
  color: white;
  max-width: 100%; /* Limiter la largeur maximale */
}

.table-title {
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.table-subtitle {
  font-size: 16px;
  color: #e0e0e0;
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.table-content {
  display: flex;


  color: rgb(255, 255, 255);
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: flex-start;
  gap: 30px;
  flex-wrap: wrap; /* Permettre le retour à la ligne sur les petits écrans */
}

.left-column {
  width: 50%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 200px; /* Largeur minimale pour éviter la compression */
}

.icone {
  margin-bottom: 10px;
}

.table-containere h2 {
  font-size:16px;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: rgb(255, 255, 255);
}

h2 .name {
  font-size: 15px;
  display: block;
  margin-top: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rights-columns {
  flex: 2;
  text-align: left;
  min-width: 250px; /* Largeur minimale pour éviter la compression */
}

p {
  font-size: 16px;
  line-height: 1.6;
}

/* Media Queries pour les écrans plus petits */
@media (max-width: 768px) {
  .table-containere {
    max-width: 93%;
    border-radius: 2%;
    margin: 10px; /* Réduire la marge pour les petits écrans */
    padding: 15px;
    margin-top: 15%; /* Réduire le padding */
  }

  .table-title {
    font-size: 20px; /* Réduire la taille de la police */
  }

  .table-subtitle {
    font-size: 14px; /* Réduire la taille de la police */
  }

  .table-content {
    width: 81%;
    flex-direction: column; /* Empiler les éléments verticalement */
    gap: 15px; /* Réduire l'espace entre les éléments */
  }

  .left-column, .rights-columns {
    min-width: 100%; /* Prendre toute la largeur */
    text-align: left;
    margin-left: 5%; /* Centrer le texte */
  }

  .table-containere h2 {
    font-size: 28px; /* Réduire la taille de la police */
  }

  h2 .name {
    font-size: 14px; /* Réduire la taille de la police */
  }

  p {
    font-size: 14px; /* Réduire la taille de la police */
  }
}

@media (max-width: 480px) {
  .table-containere {
    margin-top: 5%;
    /* Réduire encore la marge */
    padding: 0px; /* Réduire encore le padding */
    width: 100%;
  }

  .table-title {
    font-size: 17px; /* Réduire la taille de la police */
  }

  .table-subtitle {
    font-size: 12px; /* Réduire la taille de la police */
  }

  .table-containere h2 {
    font-size: 24px; /* Réduire la taille de la police */
  }

  h2 .name {
    font-size: 12px; /* Réduire la taille de la police */
  }

  p {
    font-size: 12px; /* Réduire la taille de la police */
  }
}