.table-containere {
  text-align: center;
  background-color: #ffffff;
  margin: 98px;
  margin-top: 5%;
  padding: 0px;
  border-radius: 12px; /* Coins arrondis */
  background: linear-gradient(80deg ,rgb(11, 130, 214), rgba(10, 60, 175, 0.952) ,rgba(11, 121, 194, 0.97) ,rgb(4, 40, 160)),url('../assets/2.gif') ;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Ombre douce */
  color: white; /* Tout le texte en blanc */
}

.table-title {
  font-size: 25px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.table-subtitle {
  font-size: 16px;
  color: #e0e0e0; /* Texte légèrement gris */
  margin-bottom: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.table-content {
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  align-items: flex-start;
  gap: 30px;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction:column;
  align-items: center;
}

.icone {
  margin-bottom: 10px;
}

.table-containere h2 {
  font-size: 36px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  color: rgb(5, 4, 86); /* Chiffres en blanc */
}

h2 .name {
  font-size: 15px;
  display: block; /* Nom en dessous des chiffres */
  margin-top: 5px;  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.rights-columns {
  flex: 2;
  text-align: left;
}

p {
  font-size: 16px;
  line-height: 1.6;

}

/* Centrage et limite de largeur */
.table-container {
  max-width: 800px;
  margin: 0 auto;
}
