.table-containere {
  text-align: center;
  margin: 95px;
  margin-top: 5%;
  padding: 50px;
  border-radius: 1px; /* Coins arrondis */
  background: linear-gradient(0deg, rgb(2, 17, 28), rgba(13, 28, 32, 0.979)), url('../assets/giphy.gif') ; 
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Ombre douce */
  color: white; /* Tout le texte en blanc */
}

.table-title {
  font-size: 28px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.table-subtitle {
  font-size: 16px;
  color: #e0e0e0; /* Texte légèrement gris */
  margin-bottom: 20px;
}

.table-content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.left-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icone {
  margin-bottom: 10px;
}

h2 {
  font-size: 36px;
  margin: 0;
  color: white; /* Chiffres en blanc */
}

h2 .name {
  font-size: 18px;
  display: block; /* Nom en dessous des chiffres */
  margin-top: 5px;
}

.rights-columns {
  flex: 2;
  text-align: left;
}

p {
  font-size: 16px;
  line-height: 1.6;

}

/* Centrage et limite de largeur */
.table-container {
  max-width: 800px;
  margin: 0 auto;
}
