/* VisitorCharts.css */

/* Style de base pour le conteneur principal */
.chart-container {
    margin-top: -20%;
    margin: 20px;
    padding: 20px;
    background-color: #ffffffb7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 75%;
    /* Assurez-vous que le conteneur prend toute la largeur */
}

/* Style pour les titres des graphiques */
.chart-title {
    text-align: center;
   
    font-size: 24px;
    margin-bottom: 10px;
    color: #6664e0;
}

.chart-title1 {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 15px;
    color: #1276a8;
}

.chart-title2 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: #040b69;
}

.chart-title3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: #780ad1;
}

/* Style pour la rangée de graphiques */
.chart-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid */
    gap: px;
    margin-bottom: 20px;

}

/* Style pour les graphiques individuels */
.chart-container canvas {
    width: 80% !important; /* Assurez-vous que le canvas prend toute la largeur */
    height: auto !important; /* Hauteur automatique pour éviter les déformations */
}

/* Style pour le conteneur des informations */
.info-container {
    display: flex; /* Aligner les éléments horizontalement */
    margin-top: 5%;
    background-color: #ffffff; /* Vert */
   width: 91%;
   margin-left: 1.8%;
    color: rgb(255, 255, 255);
    font-size: 12px;
    border-radius: 5px;
    background-color: #0d45b5;
    justify-content: space-around; /* Espacement égal entre les éléments */
    align-items: center; /* Centrer verticalement les éléments */
    flex-wrap: wrap; /* Permettre le retour à la ligne sur les petits écrans */
    margin-bottom: 20px;
}

/* Style pour les titres des informations */
.info-title {
  
    font-size: 20px;
    margin: 10px; /* Espacement entre les titres */
    color: #ffffff;
    text-align: center;
    flex: 1; /* Permettre aux titres de prendre un espace égal */
}

/* Media queries pour les écrans plus petits */
@media (max-width: 768px) {
    .info-container {
        flex-direction: row; /* Garder l'alignement horizontal même sur les petits écrans */
    }

    .info-title {
        font-size: 18px;
        flex: 1 1 100%; /* Permettre aux titres de prendre toute la largeur sur les petits écrans */
    }
}

@media (max-width: 480px) {
    .info-container {
        margin-top: 20%;
        flex-direction: row; /* Garder l'alignement horizontal même sur les petits écrans */
    }
    .info-title {
        font-size: 16px;
        color: #ffffff;
    }
}