/* Structure principale */
.welcome-page {
  font-family: Arial, sans-serif;
  position: relative;
  background: linear-gradient(444deg, rgba(3, 23, 82, 0.818), rgb(7, 171, 236),rgb(238, 247, 255),rgb(18, 156, 211), rgba(3, 30, 109, 0.633)), 
  url('../assets/2.jpg') ; 
  display: flex;
  justify-content: center;
  margin-left: 0%;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

/* Section principale avec image de fond et bordure */
.pages {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg,rgb(0, 170, 255), rgb(10, 82, 169), rgb(9, 65, 154), rgba(0, 30, 255, 0.174)), 
              url('../assets/wave\(1\).svg') ; 
  background-size: cover; /* Image couvre toute la zone */
  padding: 0;
  margin: 0px;
  border-radius: 5px;
 
 
  width: 87vw; /* Largeur de la fenêtre */
  
  box-sizing: border-box;
  color: rgb(255, 255, 255);
}

/* Animation */
@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateX(-20%);
  }
  100% {
    opacity: 90;
    transform: translateX(10%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.image-box {
  position: relative;
  background-color: white;
  padding: 31px;
  top: -0px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 90px;
  flex-shrink: 0;
  transition: opacity 1.5s, transform 10.5s;
}

.image-box.animate {
  animation: slideIn 4.5s ease-out forwards;
}

.logo {
  max-width: 280px;
  width: 900000000000000000%;
  border-radius: 0px;
}

.logo.animate {
  animation: fadeIn 3.5s ease-in forwards;
}

/* Badge */
.badge {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(232, 119, 19);
  color: white;
  font-weight: bold;
  padding: 7px 20px;
  border-radius: 2px;
  font-size: 14px;
  z-index: 1;
}

/* Texte */
.text-pages {
  flex: 1;
}

.text-pages h1 {
  font-size: 1.2rem;


  line-height: 2.5;
  color: white;
  margin: -20px;
  
}

.text-pages p {
  font-size: 1rem;
  line-height: 1.9;
  margin: 0px;
}

.text-pages h2 {
  font-size: 1rem;
  line-height: 2;
  margin-top: 25px;
}

/* Responsive */
@media (max-width: 768px) {
  .pages {
    flex-direction: column;
    text-align: center;
  }

  .image-box {
    margin-bottom: 20px;
  }

  .text-pages h1 {
    font-size: 1.5rem;
  }
}
