.container {
  padding: 10px;
    margin: 20px;
    transition: transform 0.9s ease, box-shadow 0.3s ease;

    

}

.title {
  color: #6a11cb;

  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.message {
  color: green;
  font-weight: bold;
  margin-bottom: 15px;
}

.form {
  margin-bottom: 15px;
    font-size: 13px;
    padding: 10px 20px;
    border: 1px solid #82828455;
    border-radius: 10px; 
}
.form input {
  margin-bottom: 15px;
  font-size: 13px;
  padding: 10px 20px;
  border: 1px solid #82828455;
  border-radius: 5px;   
}
.form textarea {
  margin-bottom: 15px;
  padding: 10px 10px;

  font-size: 13px;
  text-align: left;
  justify-content: center;
  align-items: start;

  border: 1px solid #b9c4cf55;
  border-radius: 5px;
}
.submit-button {
  width: 100%;
  max-width: 180px;
  padding: 12px 20px;
  margin-top: 0px;
  background-color:   #025ce2b8;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 0.7rem;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s ease;
}

.submit-button:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.elements-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.element-card {
  background: #f9f9f9;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.element-title {
  font-size: 1rem;
  color: #6a11cb;
  margin-bottom: 10px;
}

.element-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin: 10px 0;
}

.element-card button {
  margin: 5px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.element-card button:first-of-type {
  background: linear-gradient(45deg, #1e90ff, #00bfff);
}

.element-card button:first-of-type:hover {
  background: linear-gradient(45deg, #00bfff, #1e90ff);
}

.element-card button:last-of-type {
  background: linear-gradient(45deg, #ff4500, #ff6347);
}

.element-card button:last-of-type:hover {
  background: linear-gradient(45deg, #ff6347, #ff4500);
}
.element-image {
  width: 100%; /* L'image occupe toute la largeur du cadre */
  height: 200px; /* Hauteur fixe pour un rendu carré */
  object-fit: cover; /* Remplissage proportionnel avec recadrage */
  border-radius: 5px; /* Optionnel : coins arrondis */
  margin: 10px 0;
}
.element-description {
  max-width: 100%;
  font-size: 13px; /* Réduit la largeur du texte à 80% du cadre */
  margin: 0 auto; /* Centre le texte horizontalement */
  text-align: center; /* Optionnel : Centre le texte à l'intérieur */
  color: #555; /* Couleur du texte pour plus de lisibilité */
  line-height: 1.5; /* Ajoute de l'espacement entre les lignes */
}
