/* Conteneur principal */
.image-contact-container {

  position: relative;
  opacity: 0.99;
  width: 100%; /* Occuper toute la largeur */
  height: 200px; /* Hauteur définie */
  background: linear-gradient(0deg ,rgb(0, 234, 255), rgba(0, 183, 255, 0.799) ,rgba(0, 153, 255, 0.832) ,rgb(11, 20, 122)),url('../assets/25.jpg') ;
  background-size: cover; /* Adapter l'image pour couvrir tout l'écran */
  background-position: center; /* Centrer l'image */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Superposition semi-transparente */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay h1 {
  color: white; /* Couleur du texte */
  font-size: 2rem; /* Taille du texte */
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Ombre portée pour le texte */
  display: inline-block;
  background: #0d87ea;
  padding: 1rem 2rem;
  border-radius: 5px;
}

/* Responsive Design */
@media (max-width: 768px) {
  .image-contact-container {
    height: 100px; /* Ajuster la hauteur sur les écrans plus petits */

  }

  .overlay h1 {
    font-size: 20px; /* Réduire la taille du texte */
  }
}

@media (max-width: 480px) {
  .image-contact-container {
    height: 100px; /* Réduction supplémentaire pour mobiles */
  }

  .overlay h1 {
    font-size: 16px; /* Texte encore plus petit pour mobile */
  }
}
